<h1>Account - List</h1>
<table>
    <tr>
        <th>uid</th>
        <th>account</th>
        <th>password</th>
        <th>gender</th>
        <th>info</th>
        <th>popval</th>
        <th>money</th>
    </tr>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
        <tr>
            <td>
                <%= data[i].uid  %>
            </td>
            <td>
                <%= data[i].account  %>
            </td>
            <td>
                <%= data[i].password  %>
            </td>
            <td>
                <%= data[i].gender  %>
            </td>
            <td>
                <%= data[i].info  %>
            </td>
            <td>
                <%= data[i].popval  %>
            </td>
            <td>
                <%= data[i].money  %>
            </td>
        </tr>
        <% } %>
</table>